* {
  margin: 0;
}
/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* common Style */
body {
  font-family: Poppins;
}
/* Banner Style */
.banner {
  background-color: #10437a;
}
.banner-container {
  padding: 64px 0px 86px 0px;
  margin-left: 190px;
  display: flex;
  flex-wrap: wrap;
}
.banner-left {
  padding: 33px 102px 0px 0px;
  text-align: left;
}
.banner-left h1 {
  margin: 30px 0px;
  font-size: 64px;
  width: 400px;
  color: white;
}
.button-wrap a {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: white;
  background: #e02c6d;
  padding: 10px 24px;
  transition: padding 2s ease;
}

.button-wrap a:hover {
  padding: 10px 30px;
  background: #3dbafd;
  font-size: 17px;
}
.Arrow {
  padding: 5px 0px 0px 10px;
}
.banner-right img {
  width: 87%;
}
.banner-right {
  width: 600px;
}
.banner-right:hover .footballer {
  transform: rotate(360deg);
}
.footballer {
  transition: transform 2s ease-out 0.3s;
}
/* Player Gallery */
.gallery-bg {
  padding: 70px 108px 130px 195px;
}
.gallery-container {
  display: flex;
  flex-wrap: wrap;
}
.warrior {
  padding: 15px;
  box-shadow: 10px 10px 40px #f1f1f1;
}
.warrior-img img,
.warrior-detail {
  width: 300px;
}
.warrior-img img {
  height: 256px;
}
.warrior-detail h3 {
  margin: 16px 0px 10px 0px;
}
.warrior-detail p {
  font-size: 16px;
  line-height: 26px;
  color: #6c6c6c;
}
/* more player allery */
.more-gallery {
  margin-left: 155px;
  margin-bottom: 100px;
}
.heading h1 {
  margin-left: -143px;
  color: #10437a;
  font-size: 40px;
  text-align: center;
}
.album {
  width: 260px;
  height: 146px;
  position: relative;
  overflow: hidden;
  margin: 50px;
  display: flex;
  justify-content: center;
}
.picture img {
  width: 100%;
}
.name {
  position: absolute;
  width: 260px;
  top: 70%;
  display: none;
  left: 1%;
}
.album:hover .name {
  display: block;
}
.album:hover .picture {
  transform: scale(1.3);
  transition: transform 2s ease-in-out;
}
.name h3 {
  color: white;
  text-align: center;
}
.more-container {
  display: flex;
  flex-wrap: wrap;
}
/* about */
.animation {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #10437a;
  padding: 50px 0px;
}
.square {
  position: relative;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.square span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate 6s linear insinite;
}
.square:hover span:nth-child(1) {
  border: none;
  background: #e02c6d;
}
.square span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate2 4s linear infinite;
}
.square:hover span:nth-child(2) {
  border: none;
  background: #e02c6d;
}
.square span:nth-child(3) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
  transition: 0.5s;
  animation: animate3 10s linear infinite;
}
.square:hover span:nth-child(3) {
  border: none;
  background: #e02c6d;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.content {
  position: relative;
  padding: 40px 60px;
  color: #ffffff;
  text-align: center;
  transition: 0.5s;
  z-index: 1000;
}
.content a {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  border: 2px solid #fff;
  padding: 6px 18px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
/* Footer Style */

.footer-container {
  margin-top: 158px;
  margin-bottom: 63px;
  display: flex;
  justify-content: center;
}
.footer-wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo img {
  width: 483.87px;
  height: 110px;
}

.icons {
  position: absolute;
  transform: translate(-19px, 76px);
}
li {
  list-style: none;
  margin: 20px 20px;
  display: inline-block;
  font-size: 21px;
  padding: 11px;
  background: #ece8e8;
  border: 1px solid #ece8e8;
  border-radius: 50%;
  transition: 0.5s;
}
.social-icon {
  color: #969bab;
}
.footer-wrap p {
  margin-top: 70px;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
/*------------
Media queries
----------*/

/* Mobile Devices */
@media only screen and(max-width:688px) {
  .banner,
  .gallery-bg,
  .more-gallery,
  .animation,
  footer,
  .footer-wrap {
    width: 100%;
  }
  .banner-container,
  .gallery-container,
  .more-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .banner-container,
  .warrior,
  .album {
    flex-direction: column;
  }
}
/* tab devices */
@media only screen and(min-width:688px) and (max-width: 992px) {
  .gallery-bg,
  .more-gallery,
  .animation,
  footer,
  .footer-wrap {
    width: 100%;
  }

  .gallery-container,
  .more-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
